# Python bytecode & cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Builds & packaging
build/
dist/
*.egg-info/

# Tests / notebooks cache
.pytest_cache/
.ipynb_checkpoints/

# User-generated data
expense.json
expenses.csv
지출내역서.xlsx
# allow samples
!data_samples/
!data_samples/*.xlsx
!data_samples/*.csv


# Logs & secrets
*.log
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

plots/*
!plots/expense_bar_chart.png
!plots/expense_line_chart.png

