# Python bytecode & cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Builds & packaging
build/
dist/
*.egg-info/

# Tests / notebooks cache
.pytest_cache/
.ipynb_checkpoints/

# User-generated data
expense.json
expenses.csv
지출내역서.xlsx
# (원하면 전부 무시) *.xlsx

# Logs & secrets
*.log
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
